<tr>  
    <td>
   <%= check_box_tag "ids[]", production.id %>
   </td>
    <td>
        <%= link_to production.productionType, production %>
    </td>
    <td>
       <%= link_to 'Edit', edit_production_path(production) %>
    </td>
</tr>  